body {
    background-color: #050508;
    background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px);
    background-size: 550px 550px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }